@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poetsen One", calibri;
    font-weight: 400;
    font-style: normal;
}

.HeaderData{
    background-color: rgb(39, 5, 98);
    padding: 20px 10px;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.input1{
    min-width: 23rem;
    height: 50px;
    padding: 6px;
    outline: none;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-size: 17px;
    border: none;
    color: #3c00df;
    font-family: "Poetsen One", calibri;
}

.input1::placeholder{
    font-size: 15px;
    color: #3c00df;
}

/*---------Button Add To Do-------------*/

.cssbuttons-io-button {
  background: #3c00df;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #3c00df;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  margin-bottom: 10px;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #3c00df;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #3c00df;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
/* ------------delete----------- */

.edit , .delete{
    color: white;
}

.delete-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  margin-left: 10px;
}

.delete-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  align-items: center;
  background-color: rgb(255, 69, 69);
}

.delete-button::before {
  display: none;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.delete-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

/* ------------edit----------- */

.edit-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.edit-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  align-items: center;
  background-color: rgb(12, 183, 18);
}

.edit-button::before {
  display: none;
  content: "edit";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.edit-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

/* -------tm ui--------- */

.content{
    width: 100%;
    background-color: lightgray;
}

.tm{
    width: 100%;
    padding: 2px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.btn-box{
  display: flex;
}


p{
    padding: 15px 20px;
    color: white;
    user-select: none;
}

/*---------->active<----------*/

.done p{
    opacity: 0.5;
}

/*-------------------container content-----------------------*/
.css-selector {
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 157, 255, 1) 100%);
    border-bottom: 1px solid white;
}

.done{
    /* background: #ff0000;
    background: linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%); */
    background: #00ff9d;
    background: linear-gradient(270deg, rgba(0, 255, 157, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

/*---------->footer<----------*/
.footer{
  position: absolute;
  padding: 15px 5px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #a40404;
  border-top: 3px solid #700404;
  color: white;
}
/*---------->QR<----------*/
.qrCode{
  position: absolute;
  bottom: 100px;
  left: 40px;
  background-color: gold;
  border: 3px solid goldenrod;
  color: black;
  padding: 13px 15px;
  border-radius: 50%; 
  cursor: pointer;
}